 <meta charset="utf-8">
   <meta name="generator" content="GitLab Pages">
   <title>Plain HTML site using GitLab Pages</title>
   <link rel="stylesheet" href="style.css">
 </head>
 <body>
   <div class="navbar">
     <a href="https://gitlab.com/fasco404/homework/-/blob/master/.gitlab-ci.yml">Schema YML</a>
     <a href="https://unsplash.com/photos/uOYak90r4L0">Picture House</a>
   </div>

   <h1>We built a dream house</h1>
  
 </body>
</html>

